<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
        <h1 class="title is-1">GitGrub</h1>
        <h2 class="subtitle is-4">Delicious food at the touch of a button</h2>
    </div>
  </div>
</section>

<div class="heropic">
<%= image_tag "hero.jpg", alt: "group toast"%>
</div>

<%# below 3 lines are to display the create button for new lunches %>

    <div class="box">
        <%= link_to "+ Add meal", lunch_new_path %>
    </div>


<% for lunch in @lunch %>
    <%# note that @lunch is actually Lunch.all%>
    <%# so for each object of lunch, print picture, name,price,description%>
<div class="box">

     <%= image_tag lunch.picture if lunch.picture.attached? %>
    
        <% if user_signed_in?%>
            <% if current_user.id == lunch.user_id  %>
                <%= form_with model: lunch, local: true, method: "delete" do |form| %>
                <%= link_to "edit", edit_lunch_path(lunch.id)%>
                <%= submit_tag "delete"%>
                <%end%>
            <%end%>
        <%end%>
        <%# make a link on lunch.name, that links to show method with specified id pulled from current object%>
       <div> <%= link_to lunch.name, lunch_path(lunch.id) %> </div>
      
        <div><%= lunch.description %> </div>
        <br>
        $<%=lunch.price%>

        <% if @address != nil %>
        <%= @address.suburb %>
        <%= @address.state%>
        <%end %>
</div>
<% end %>




