<!DOCTYPE html>
<html>
  <head>
    <title>Lunched</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%# need the above for responsiveness on phones %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# below code to import bulma %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  </head>

  <body>
    

    <section class="section">
    
    <%# bulma assumes everything is going to be wrapped in a section and container %>
    <%# this adjusts margin and padding and makes it responsive by adding breakpoints %>
      <div class="container">
           <nav class="breadcrumb" aria-label="breadcrumbs">
        
        <% if user_signed_in? %>
          <%# if user is signed in, display a logout button %>
          <ul>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "Change password", edit_user_registration_path %></li>
          </ul>
          
        <% end %>


        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield  %> 
        <%# main view code gets rendered after yield %>
      </div>
    </section>
  </body>
</html>
