<!DOCTYPE html>
<html>
  <head>
    <title>Lunched</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%# if user is signed in, display a logout button %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% end %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield  %> 
    <%# main app code gets rendered after yield %>
  </body>
</html>
